@{
  Layout = "_Layout";
}

@using University.Models;
<div class = "container">
<h1>Selected Course: </h1>
<h2>Course: @Model["selectedCourse"].GetDescription()</h2>
<h2>Course Number: @Model["selectedCourse"].GetCourseNumber()</h2>
<hr />
@if (@Model["listStudents"].Count != 0)
{
  <h4>These students enrolled in these course:</h4>
  <ul>
    @foreach (Student student in @Model["listStudents"])
    {
      <li>@student.GetName()</li>
    }
  </ul>
}
<a href = "/" class="btn btn-danger">Home</a>
</div>
